data/*
!data/.gitkeep

*.o
*.orig
*.swp
*.gch
*.out
*.ll
*.tmp
.*
-
result.txt
__pycache__
/results*
/data*

common/host.make.config
cuda/b+tree/output.txt
cuda/backprop/backprop
cuda/cfd/density
cuda/cfd/density_energy
cuda/cfd/momentum
openmp/backprop/backprop
openmp/bfs/bfs
