data/*
!data/.gitkeep

*.o
*.orig
*.swp
*.gch
*.out
*.ll
*.tmp
.*
-
result.txt
__pycache__
/results*
/data*
/verification_data

common/host.make.config
cuda/b+tree/output.txt
cuda/backprop/backprop
cuda/cfd/density
cuda/cfd/density_energy
cuda/cfd/momentum
cuda/cfd/euler3d
cuda/hotspot/hotspot
cuda/cfd/euler3d_double
cuda/cfd/pre_euler3d
cuda/cfd/pre_euler3d_double
cuda/dwt2d/dwt2d
cuda/gaussian/gaussian
cuda/heartwall/heartwall
cuda/hotspot3D/3D
cuda/huffman/pavle
cuda/lavaMD/lavaMD
cuda/lud/cuda/lud_cuda
cuda/myocyte/output.txt
cuda/nn/hurricane_gen
cuda/nn/nn
cuda/nw/needle
cuda/particlefilter/particlefilter_float
cuda/particlefilter/particlefilter_naive
cuda/pathfinder/pathfinder
cuda/srad/srad_v1/srad
cuda/srad/srad_v2/srad
cuda/streamcluster/sc_gpu

openmp/backprop/backprop
openmp/bfs/bfs
openmp/b+tree/output.txt
openmp/cfd/density
openmp/cfd/density_energy
openmp/cfd/euler3d_cpu
openmp/cfd/momentum
openmp/streamcluster/output.txt
openmp/streamcluster/sc_cpu
openmp/streamcluster/sc_omp
openmp/heartwall/heartwall
openmp/hotspot/hotspot
openmp/hotspot3D/3D
openmp/lavaMD/lavaMD
openmp/lud/omp/lud_omp
openmp/nn/nn
openmp/nw/needle
openmp/particlefilter/particle_filter
openmp/pathfinder/out
openmp/pathfinder/pathfinder

*.mlir
cuda/backprop/make.out.2
cuda/dwt2d/192.bmp.dwt.b
cuda/dwt2d/192.bmp.dwt.g
cuda/dwt2d/192.bmp.dwt.r
cuda/dwt2d/dwt.mlir.after
cuda/dwt2d/rgb.bmp.dwt.b
cuda/dwt2d/rgb.bmp.dwt.g
cuda/dwt2d/rgb.bmp.dwt.r
cuda/hotspot/hotspot.cubak
cuda/hotspot/hotspot.cubak.bak
cuda/hotspot/hotspot.min.cu
cuda/hotspot/hotspot.mincut.barrier-opt=0.omlir
cuda/hotspot/hotspot.mincut.omlir
cuda/hotspot/hotspot.mlir.forpolyopt
cuda/hotspot/hotspot.mlir.forpolyopt.nomincut
cuda/hotspot/hotspot.mlir.new
cuda/hotspot/hotspot.mlir.new.new
cuda/hotspot/hotspot.mlir.nocpuidy
cuda/hotspot/hotspot.nobarrieropt.omlir
cuda/hotspot/hotspot.omlir
cuda/hotspot/perf.data.old
cuda/hotspot/polyopt.out.new
cuda/hotspot/polyopt.out.new.new
cuda/nn/'
cuda/nn/ex.cpp
cuda/nn/ex.crashing.cpp
cuda/nn/ex.cu
cuda/nn/out.one
cuda/nn/out.two
cuda/nw/vgcore.1279043
cuda/pathfinder/debug.new.out.foropt
cuda/pathfinder/pathfinder.mlir.foropt
cuda/srad/srad_v1/image_out.pgm
cuda/srad/srad_v2/vgcore.328483
cuda/streamcluster/output.txt
notebooks/baks/
opencl/bfs/Kernels.cl.pocl
openmp/srad/srad_v1/image_out.pgm
openmp/srad/srad_v1/srad
openmp/srad/srad_v2/srad

common/opencl.host.make.config
common/openmp.host.make.config

