POLYGEIST_DIR=/home/wmoses/git/Polygeist/build/
POLYGEIST_LLVM_DIR=/home/wmoses/git/Polygeist/mlir-build
#POLYGEIST_DIR=/scr/ivan/src/Polygeist/build.debug/
#POLYGEIST_LLVM_DIR=/scr/ivan/src/Polygeist/mlir-build.debug/
CUDA_PATH = /usr/local/cuda-11.2/
CUDA_SAMPLES_PATH_ = /usr/local/cuda-11.2/samples/
CPUCUDA_BUILD_DIR = /home/wmoses/git/Polygeist/proj/rodinia/cpucuda_runtime/build/
include $(current_dir)/common.polygeist.host.make.config

