
# CC = gcc
# CXX := g++
CC = ~/git/Polygeist/mlir-build/bin/clang
CXX := ~/git/Polygeist/mlir-build/bin/clang++
LINKER = $(CXX)

COMPILER_NAME=openmp.gcc

CC_FLAGS = -O2 -I/home/wmoses/git/Polygeist/mlir-build/projects/openmp/runtime/src/ -fopenmp
CXX_FLAGS := $(CC_FLAGS)
LINKER_FLAGS = -ldl -lrt -lpthread -lm -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fopenmp 
LINKER_FLAGS := $(LINKER_FLAGS)

