CC = ~/git/Polygeist/build/bin/mlir-clang --raise-scf-to-affine --scal-rep=0 # 0 --memref-abi=0
CXX = $(CC)
NVCC = $(CC)
LINKER = $(CC)

SYSTEM_LINKER = ~/git/Polygeist/mlir-build/bin/clang++

LINKER_FLAGS = -lcudart_static -ldl -lrt -lpthread -lm -L/usr/local/cuda-11.2/lib64/ -L/home/wmoses/git/Polygeist/mlir-build/lib
SYSTEM_LINKER_FLAGS := $(LINKER_FLAGS) -fopenmp

CC_FLAGS = --function=* -resource-dir=/home/wmoses/git/Polygeist/mlir-build/lib/clang/14.0.0/ -I/home/wmoses/git/Polygeist/mlir-build/projects/openmp/runtime/src/
CXX_FLAGS = $(CC_FLAGS)
#CC_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"
#CXX_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"
NVCC_FLAGS = $(CC_FLAGS) --cuda-gpu-arch=sm_60 --cuda-path=/usr/local/cuda-11.2/ --cuda-lower --cpuify="distribute"

CUDA_SAMPLES_PATH = /opt/cuda-11.2/samples/

COMPILER_NAME=polygeist
