# CC = ~/git/Polygeist/build/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute" -resource-dir=/home/wmoses/git/Polygeist/mlir-build/lib/clang/14.0.0/ 
CC = ~/git/Polygeist/build/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute" -memref-abi=0 -resource-dir=/home/wmoses/git/Polygeist/mlir-build/lib/clang/14.0.0/ 
# CC = ~/git/Polygeist/mlir-build/bin/clang++

CXX = $(CC)
NVCC = $(CC)
LINKER = clang++-10 -fopenmp

LINKER_FLAGS = -lcudart_static -ldl -lrt -lpthread -lm -L/usr/local/cuda-11.2/lib64/ -L/home/wmoses/git/Polygeist/mlir-build/lib

CC_FLAGS = -I/home/wmoses/git/Polygeist/mlir-build/projects/openmp/runtime/src/
CXX_FLAGS = $(CC_FLAGS)
#CC_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"
#CXX_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"
NVCC_FLAGS = $(CC_FLAGS) --cuda-gpu-arch=sm_60 --cuda-path=/usr/local/cuda-11.2/
CUDA_SAMPLES_PATH = /opt/cuda-11.2/samples/

COMPILER_NAME=polygeist
