POLYGEIST_DIR=/root/Polygeist/build/
POLYGEIST_LLVM_DIR=/root/Polygeist/mlir-build/
CUDA_PATH = /usr/local/cuda/
CUDA_SAMPLES_PATH_ = /root/cuda-samples

ifeq ($(CONFIG),1)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute"
COMPILER_NAME=polygeist
endif

ifeq ($(CONFIG),2)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut"
COMPILER_NAME=polygeist.mincut
endif

ifeq ($(CONFIG),3)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -scal-rep=0 -raise-scf-to-affine
COMPILER_NAME=polygeist.mincut.raise-scf-to-affine.scal-rep=0
endif

ifeq ($(CONFIG),4)
#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -scal-rep=1 -raise-scf-to-affine
#COMPILER_NAME=polygeist.mincut.raise-scf-to-affine.scal-rep=1
endif

ifeq ($(CONFIG),5)
#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="continuation"
#COMPILER_NAME=polygeist.continuation
endif

ifeq ($(CONFIG),6)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -openmp-opt=0
COMPILER_NAME=polygeist.mincut.openmp-opt=0
endif

ifeq ($(CONFIG),7)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -barrier-opt=0
COMPILER_NAME=polygeist.mincut.barrier-opt=0
endif

ifeq ($(CONFIG),8)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -barrier-opt=0 -scal-rep=0 -raise-scf-to-affine
COMPILER_NAME=polygeist.mincut.raise-scf-to-affine.scal-rep=0.barrier-opt=0
endif

ifeq ($(CONFIG),9)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" --inner-serialize=1
COMPILER_NAME=polygeist.mincut.inner-serialize=1
endif

ifeq ($(CONFIG),10)
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -scal-rep=0 -raise-scf-to-affine --inner-serialize=1
COMPILER_NAME=polygeist.mincut.inner-serialize=1.raise-scf-to-affine.scal-rep=0
endif

CC += -fopenmp -O2

CXX = $(CC)
NVCC = $(CC)
LINKER = $(POLYGEIST_LLVM_DIR)/bin/clang

POLYGEIST_LLVM_ABI = --memref-abi=0

LINKER_FLAGS = -lcudart_static -ldl -lrt -lpthread -lm -L$(CUDA_PATH)/lib64/ -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fopenmp -O2 -fopenmp=libomp

CC_FLAGS = -O2 -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -resource-dir=$(POLYGEIST_LLVM_DIR)/lib/clang/15.0.0/ -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -I$(CUDA_PATH)/include/
CXX_FLAGS := $(CC_FLAGS)
NVCC_FLAGS := $(CC_FLAGS) --cuda-gpu-arch=sm_60 --cuda-path=$(CUDA_PATH)/

