POLYGEIST_DIR=/root/Polygeist/build/
POLYGEIST_LLVM_DIR=/root/Polygeist/mlir-build/

CC = $(POLYGEIST_LLVM_DIR)/bin/clang
CXX = $(POLYGEIST_LLVM_DIR)/bin/clang++
LINKER = clang

COMPILER_NAME=openmp.polygeist-clang



CC_FLAGS = -O2 -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -resource-dir=$(POLYGEIST_LLVM_DIR)/lib/clang/15.0.0/ -fopenmp
CXX_FLAGS := $(CC_FLAGS)
LINKER_FLAGS = -O2 -ldl -lrt -lpthread -lm -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fopenmp -fopenmp=libomp
LINKER_FLAGS = -O2 -ldl -lrt -lpthread -lm -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fopenmp=libomp

