POLYGEIST_DIR=/scr0/ivan/src/Polygeist/build/
POLYGEIST_LLVM_DIR=/scr0/ivan/src/Polygeist/mlir-build/
#POLYGEIST_DIR=/scr0/ivan/src/Polygeist/build-release/
#POLYGEIST_LLVM_DIR=/scr0/ivan/src/Polygeist/mlir-build-release/
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute"
#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute" -scal-rep=0 -raise-scf-to-affine
CXX = $(CC)
NVCC = $(CC)
LINKER = $(CC)
SYSTEM_LINKER = clang

LINKER_FLAGS = -lcudart_static -ldl -lrt -lpthread -lm -L/opt/cuda-10.2/lib64/ -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++
SYSTEM_LINKER_FLAGS := $(LINKER_FLAGS) -fopenmp=libomp

CC_FLAGS = -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -resource-dir=$(POLYGEIST_LLVM_DIR)/lib/clang/14.0.0/ -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/
CXX_FLAGS := $(CC_FLAGS)
NVCC_FLAGS := $(CC_FLAGS) --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/

CUDA_SAMPLES_PATH = /opt/cuda-10.2/samples/

COMPILER_NAME=polygeist
