CC = /scr0/ivan/src/Polygeist/build/mlir-clang/mlir-clang
CXX = /scr0/ivan/src/Polygeist/build/mlir-clang/mlir-clang
NVCC = /scr0/ivan/src/Polygeist/build/mlir-clang/mlir-clang

LINKER_FLAGS = -lcudart_static -ldl -lrt -lpthread -lm -L/opt/cuda-10.2/lib64/

CC_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ -I/scr0/ivan/src/Polygeist/mlir-build/projects/openmp/runtime/src/
CXX_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/
#CC_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"
#CXX_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"
NVCC_FLAGS = -resource-dir=/scr0/ivan/src/Polygeist/mlir-build/lib/clang/14.0.0/ --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ --cuda-lower --cpuify="distribute"

CUDA_SAMPLES_PATH = /opt/cuda-10.2/samples/