CC = /scr0/ivan/src/llvm-project/build-clang/bin/clang
CXX = /scr0/ivan/src/llvm-project/build-clang/bin/clang++
NVCC = /scr0/ivan/src/llvm-project/build-clang/bin/clang++
LINKER = /scr0/ivan/src/llvm-project/build-clang/bin/clang++

CC_FLAGS = --cuda-path=/opt/cuda-10.2/ --cuda-gpu-arch=sm_80 --cuda-host-only -I/scr0/ivan/src/llvm-project/build-clang/projects/openmp/runtime/src/ -resource-dir=/scr0/ivan/src/llvm-project/build-clang/lib/clang/14.0.0/ -fopenmp=libomp -O3 -lcpucudart -L/scr0/ivan/src/cpucuda_runtime/build/src -lm
CXX_FLAGS := $(CC_FLAGS)
NVCC_FLAGS := $(CC_FLAGS)
LINKER_FLAGS = -lcpucudart -L/scr0/ivan/src/cpucuda_runtime/build/src -lm -fopenmp=libomp

CUDA_SAMPLES_PATH_ = /opt/cuda-10.2/samples/

COMPILER_NAME = cpucuda
