POLYGEIST_DIR=/scr0/ivan/src/Polygeist/build.release/
POLYGEIST_LLVM_DIR=/scr0/ivan/src/Polygeist/mlir-build.release/
CUDA_PATH = /opt/cuda-10.2/
CUDA_SAMPLES_PATH_ = /opt/cuda-10.2/samples/
CPUCUDA_BUILD_DIR = /scr0/ivan/src/cpucuda_runtime/build/

include $(current_dir)/common.polygeist.host.make.config

