POLYGEIST_DIR=/scr0/ivan/src/Polygeist/build/
POLYGEIST_LLVM_DIR=/scr0/ivan/src/Polygeist/mlir-build/
#POLYGEIST_DIR=/scr0/ivan/src/Polygeist/build-release/
#POLYGEIST_LLVM_DIR=/scr0/ivan/src/Polygeist/mlir-build-release/
CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute"
#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute" -scal-rep=0 -raise-scf-to-affine
CXX = $(CC)
NVCC = $(CC)
LINKER = /home/ivan/opt/llvm-v13.0.0/login_node/bin/clang++

LINKER_FLAGS = -ldl -lrt -lpthread -lm -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fuse-ld=lld -target aarch64-unknown-linux-gnu -mcpu=a64fx -lcpucudart -L/home/ivan/src/cpucuda_runtime.aarch64/build/src /home/ivan/opt/llvm-v13.0.0/compute_node/lib/libomp.so

CC_FLAGS = -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -resource-dir=$(POLYGEIST_LLVM_DIR)/lib/clang/14.0.0/ -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -target aarch64-unknown-linux-gnu -mcpu=a64fx --sysroot ~/opt/fugaku-compute-node-sysroot/ -I/scr0/ivan/src/Polygeist/mlir-build/bin/../include/c++/v1
CXX_FLAGS := $(CC_FLAGS)
NVCC_FLAGS := $(CC_FLAGS) --cuda-gpu-arch=sm_60 --cuda-path=/opt/cuda-10.2/ 

CUDA_SAMPLES_PATH_ = /opt/cuda-10.2/samples/

COMPILER_NAME=polygeist
