
mkfile_path := $(abspath $(lastword $(MAKEFILE_LIST)))
current_dir := $(dir $(mkfile_path))

#___THIS_DIR:=$(abspath $(lastword $(MAKEFILE_LIST)))
#$(shell dirname $(realpath $(firstword $(MAKEFILE_LIST))))

$(info $$mkfile_path is [${mkfile_path}])
$(info $$current_dir is [${current_dir}])

include $(current_dir)/host.make.config

CC_FLAGS += -I$(___THIS_DIR)/../../common/
CXX_FLAGS += -I$(___THIS_DIR)/../../common/
NVCC_FLAGS += -I$(___THIS_DIR)/../../common/

