
mkfile_path := $(abspath $(lastword $(MAKEFILE_LIST)))
current_dir := $(dir $(mkfile_path))

include $(current_dir)/host.make.config

# include the timing header
FLAGS_TO_ADD = -I$(current_dir)/ -include my_timing.h -include my_verification.h
# define the compiler name
ifdef COMPILER_NAME
      FLAGS_TO_ADD += -D_MY_COMPILER_NAME_=\"$(COMPILER_NAME)\"
endif

MY_VERIFICATION_DISABLE = 1
ifneq ($(MY_VERIFICATION_DISABLE),0)
      FLAGS_TO_ADD += -DMY_VERIFICATION_DISABLE
endif

CC_FLAGS += $(FLAGS_TO_ADD)
CXX_FLAGS += $(FLAGS_TO_ADD)
NVCC_FLAGS += $(FLAGS_TO_ADD)

