POLYGEIST_DIR=/scr/ivan/src/Polygeist/build.release/
POLYGEIST_LLVM_DIR=/scr/ivan/src/Polygeist/mlir-build.release/
#POLYGEIST_DIR=/scr/ivan/src/Polygeist/build.debug/
#POLYGEIST_LLVM_DIR=/scr/ivan/src/Polygeist/mlir-build.debug/

#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute"
#COMPILER_NAME=polygeist

CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut"
COMPILER_NAME=polygeist.mincut

#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -scal-rep=0 -raise-scf-to-affine
#COMPILER_NAME=polygeist.mincut.raise-scf-to-affine.scal-rep=0

#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -scal-rep=1 -raise-scf-to-affine
#COMPILER_NAME=polygeist.mincut.raise-scf-to-affine.scal-rep=1

#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="continuation"
#COMPILER_NAME=polygeist.continuation

#CC = $(POLYGEIST_DIR)/bin/mlir-clang --function=* --cuda-lower --cpuify="distribute.mincut" -openmp-opt=0
#COMPILER_NAME=polygeist.mincut.openmp-opt=0


CXX = $(CC)
NVCC = $(CC)
LINKER = $(CC)
SYSTEM_LINKER = clang

POLYGEIST_LLVM_ABI = --memref-abi=0

LINKER_FLAGS = -lcudart_static -ldl -lrt -lpthread -lm -L/scr/ivan/cuda-10.2/lib64/ -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++
SYSTEM_LINKER_FLAGS := $(LINKER_FLAGS) -fopenmp=libomp

CC_FLAGS = -O2 -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -resource-dir=$(POLYGEIST_LLVM_DIR)/lib/clang/15.0.0/ -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -I/scr/ivan/cuda-10.2/include/
CXX_FLAGS := $(CC_FLAGS)
NVCC_FLAGS := $(CC_FLAGS) --cuda-gpu-arch=sm_60 --cuda-path=/scr/ivan/cuda-10.2/

CUDA_SAMPLES_PATH = /scr/ivan/cuda-10.2/samples/

