POLYGEIST_DIR_RELEASE=/scr/ivan/src/Polygeist/build.release/
POLYGEIST_LLVM_DIR_RELEASE=/scr/ivan/src/Polygeist/mlir-build.release/
POLYGEIST_DIR_DEBUG=/scr/ivan/src/Polygeist/build.debug/
POLYGEIST_LLVM_DIR_DEBUG=/scr/ivan/src/Polygeist/mlir-build.debug/

CUDA_PATH = /home/ivan/opt/memkf02/cuda-11.4/
CUDA_SAMPLES_PATH_ = /scr/ivan/cuda-10.2/samples/
CPUCUDA_BUILD_DIR = /scr/ivan/src/cpucuda_runtime/build/
# CUDA_GPU_ARCH = sm_86 # no cuda gpu on this system

ROCM_PATH = /opt/rocm/
AMD_GPU_ARCH = gfx90a

include $(current_dir)/common.polygeist.host.make.config
