#POLYGEIST_DIR=/scr/ivan/src/Polygeist/build.release/
#POLYGEIST_LLVM_DIR=/scr/ivan/src/Polygeist/mlir-build.release/
POLYGEIST_DIR=/scr/ivan/src/Polygeist/build.debug/
POLYGEIST_LLVM_DIR=/scr/ivan/src/Polygeist/mlir-build.debug/

CC = $(POLYGEIST_DIR)/bin/cgeist --function=*
COMPILER_NAME=openmp.polygeist

#CC = $(POLYGEIST_DIR)/bin/cgeist --function=* -scal-rep=0 -raise-scf-to-affine
#COMPILER_NAME=openmp.polygeist.raise-scf-to-affine.scal-rep=0

#CC = $(POLYGEIST_DIR)/bin/cgeist --function=* -scal-rep=1 -raise-scf-to-affine
#COMPILER_NAME=openmp.polygeist.raise-scf-to-affine.scal-rep=1

#CC = $(POLYGEIST_DIR)/bin/cgeist --function=* -openmp-opt=0
#COMPILER_NAME=openmp.polygeist.openmp-opt=0

CXX := $(CC)
LINKER = clang

POLYGEIST_LLVM_ABI = --memref-abi=0


CC_FLAGS = -O2 -I$(POLYGEIST_LLVM_DIR)/projects/openmp/runtime/src/ -resource-dir=$(POLYGEIST_LLVM_DIR)/lib/clang/16.0.0/ -fopenmp -scal-rep=0 -raise-scf-to-affine --inner-serialize=1

CXX_FLAGS := $(CC_FLAGS)
LINKER_FLAGS = -O2 -ldl -lrt -lpthread -lm -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fopenmp
LINKER_FLAGS = -O2 -ldl -lrt -lpthread -lm -L$(POLYGEIST_LLVM_DIR)/lib -lstdc++ -fopenmp=libomp

