POLYGEIST_DIR=/home/ubuntu/Polygeist/build.release/
POLYGEIST_LLVM_DIR=/home/ubuntu/Polygeist/mlir-build.release/
CUDA_SAMPLES_PATH_ = /home/ubuntu/cuda-10.2/samples/
CUDA_PATH = /home/ubuntu/cuda-10.2/
CPUCUDA_BUILD_DIR = /home/ubuntu/cpucuda_runtime/build/

include $(current_dir)/common.polygeist.host.make.config
